body{
    background-image: url("../Imagenes/engranajes_metalicos_20150213_1147103737.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
}
table{
    border: solid;
    border-color: white;
    background-color: darkgrey;
    font-weight: bold;
}
#titulo_pagina{
    border: solid;
    border-color: white;
    background-color: darkgrey;
}

table{
    padding: 15px;
}